@model PersonModelView
@{
    ViewData["Title"] = "Home Page";
}
<form asp-action="Person">
<input asp-for="Name" />
<span asp-validation-for="Name" />
<input type="submit" value="ok" />
</form>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
