@{
    ViewData["Title"] = "Confirm";
}
<h1>@ViewData["Title"]</h1>

<p>Potwierdź operacje:</p>
<form class="form" method="post">
    <input class="btn btn-danger" value="ok" type="submit"/>
</form>
