@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a class="btn btn-primary" href="@Url.Action("Marks", new {id=0})" >Moje oceny</a>
    <a class="btn btn-primary" href="@Url.Action("AddRole")" >Nadaj mi role nauczyciela</a>
</div>
